.header {
  color: #fff;
  padding: 1px 0px 1px 0px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  background: linear-gradient(
    90deg,
    rgba(253, 79, 29, 1) 0%,
    rgba(252, 212, 69, 1) 84%
  );
}

.ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.li {
  margin: 0px 30px;
}
