.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  position: relative;
  margin: 20px;
}

.image {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.5s ease;
}

.image:hover {
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 10px;
    position: relative;
    margin: 20px;
  }
}
