.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff91;
  padding: 24px 16px;
  font-size: 32px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 60;
}

.navButton.left {
  left: 10px;
}

.navButton.right {
  right: 10px;
}

@media (max-width: 768px) {
  .navButton {
    font-size: 24px;
    padding: 16px;
  }
}

@media (max-width: 480px) {
  .navButton {
    font-size: 20px;
    padding: 12px;
  }
}
